In [1]:
import pandas as pd

In [12]:
import numpy as np

Cargar datos

In [13]:
df = pd.read_csv("dataset_final.csv", index_col=0)

In [14]:
df.head(2)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False

    1. ¿Cuántos pokémon hay en el dataset?

El dataset tiene 800 pokemon

In [11]:
df["Name"].unique

<bound method Series.unique of 0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object>

    2. ¿Cuántos pokémon hay de tipo Poison? (Type 1)

Existen 28 tipos de pokemon tipo Poison

In [18]:
df["Type 1"].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

    3. ¿Cuántos tipos diferentes de pokémon hay? (Type 1)

Existen 18 diferentes tipos de Pokemon tipo 1

In [19]:
df["Type 1"].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

    2. ¿Cuántos pokémon hay de cada tipo? (Type 1)

In [20]:
df["Type 1"].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

    2.1 ¿cual es el tipo de pokémon con más pokémon? (Type 1)

Del tipo 1 los pokemones predominantes son los de tipo Agua

    3. ¿Cuál es el pokémon más rápido?

Los pokemones más rapidos son los de velocidad de 180

In [24]:
df["Speed"]. max()

180

In [38]:
Speed =df[df['Speed'].isin([180])]
Speed["Name"].unique()

array(['Bulbasaur', 'Ivysaur', 'Venusaur', 'VenusaurMega Venusaur',
       'Charmander', 'Charmeleon', 'Charizard',
       'CharizardMega Charizard X', 'CharizardMega Charizard Y',
       'Squirtle', 'Wartortle', 'Blastoise', 'BlastoiseMega Blastoise',
       'Caterpie', 'Metapod', 'Butterfree', 'Weedle', 'Kakuna',
       'Beedrill', 'BeedrillMega Beedrill', 'Pidgey', 'Pidgeotto',
       'Pidgeot', 'PidgeotMega Pidgeot', 'Rattata', 'Raticate', 'Spearow',
       'Fearow', 'Ekans', 'Arbok', 'Pikachu', 'Raichu', 'Sandshrew',
       'Sandslash', 'Nidoran♀', 'Nidorina', 'Nidoqueen', 'Nidoran♂',
       'Nidorino', 'Nidoking', 'Clefairy', 'Clefable', 'Vulpix',
       'Ninetales', 'Jigglypuff', 'Wigglytuff', 'Zubat', 'Golbat',
       'Oddish', 'Gloom', 'Vileplume', 'Paras', 'Parasect', 'Venonat',
       'Venomoth', 'Diglett', 'Dugtrio', 'Meowth', 'Persian', 'Psyduck',
       'Golduck', 'Mankey', 'Primeape', 'Growlithe', 'Arcanine',
       'Poliwag', 'Poliwhirl', 'Poliwrath', 'Abra', 'Kadabra', 'Alakazam',
       'AlakazamMega Alakazam', 'Machop', 'Machoke', 'Machamp',
       'Bellsprout', 'Weepinbell', 'Victreebel', 'Tentacool',
       'Tentacruel', 'Geodude', 'Graveler', 'Golem', 'Ponyta', 'Rapidash',
       'Slowpoke', 'Slowbro', 'SlowbroMega Slowbro', 'Magnemite',
       'Magneton', "Farfetch'd", 'Doduo', 'Dodrio', 'Seel', 'Dewgong',
       'Grimer', 'Muk', 'Shellder', 'Cloyster', 'Gastly', 'Haunter',
       'Gengar', 'GengarMega Gengar', 'Onix', 'Drowzee', 'Hypno',
       'Krabby', 'Kingler', 'Voltorb', 'Electrode', 'Exeggcute',
       'Exeggutor', 'Cubone', 'Marowak', 'Hitmonlee', 'Hitmonchan',
       'Lickitung', 'Koffing', 'Weezing', 'Rhyhorn', 'Rhydon', 'Chansey',
       'Tangela', 'Kangaskhan', 'KangaskhanMega Kangaskhan', 'Horsea',
       'Seadra', 'Goldeen', 'Seaking', 'Staryu', 'Starmie', 'Mr. Mime',
       'Scyther', 'Jynx', 'Electabuzz', 'Magmar', 'Pinsir',
       'PinsirMega Pinsir', 'Tauros', 'Magikarp', 'Gyarados',
       'GyaradosMega Gyarados', 'Lapras', 'Ditto', 'Eevee', 'Vaporeon',
       'Jolteon', 'Flareon', 'Porygon', 'Omanyte', 'Omastar', 'Kabuto',
       'Kabutops', 'Aerodactyl', 'AerodactylMega Aerodactyl', 'Snorlax',
       'Articuno', 'Zapdos', 'Moltres', 'Dratini', 'Dragonair',
       'Dragonite', 'Mewtwo', 'MewtwoMega Mewtwo X',
       'MewtwoMega Mewtwo Y', 'Mew', 'Chikorita', 'Bayleef', 'Meganium',
       'Cyndaquil', 'Quilava', 'Typhlosion', 'Totodile', 'Croconaw',
       'Feraligatr', 'Sentret', 'Furret', 'Hoothoot', 'Noctowl', 'Ledyba',
       'Ledian', 'Spinarak', 'Ariados', 'Crobat', 'Chinchou', 'Lanturn',
       'Pichu', 'Cleffa', 'Igglybuff', 'Togepi', 'Togetic', 'Natu',
       'Xatu', 'Mareep', 'Flaaffy', 'Ampharos', 'AmpharosMega Ampharos',
       'Bellossom', 'Marill', 'Azumarill', 'Sudowoodo', 'Politoed',
       'Hoppip', 'Skiploom', 'Jumpluff', 'Aipom', 'Sunkern', 'Sunflora',
       'Yanma', 'Wooper', 'Quagsire', 'Espeon', 'Umbreon', 'Murkrow',
       'Slowking', 'Misdreavus', 'Unown', 'Wobbuffet', 'Girafarig',
       'Pineco', 'Forretress', 'Dunsparce', 'Gligar', 'Steelix',
       'SteelixMega Steelix', 'Snubbull', 'Granbull', 'Qwilfish',
       'Scizor', 'ScizorMega Scizor', 'Shuckle', 'Heracross',
       'HeracrossMega Heracross', 'Sneasel', 'Teddiursa', 'Ursaring',
       'Slugma', 'Magcargo', 'Swinub', 'Piloswine', 'Corsola', 'Remoraid',
       'Octillery', 'Delibird', 'Mantine', 'Skarmory', 'Houndour',
       'Houndoom', 'HoundoomMega Houndoom', 'Kingdra', 'Phanpy',
       'Donphan', 'Porygon2', 'Stantler', 'Smeargle', 'Tyrogue',
       'Hitmontop', 'Smoochum', 'Elekid', 'Magby', 'Miltank', 'Blissey',
       'Raikou', 'Entei', 'Suicune', 'Larvitar', 'Pupitar', 'Tyranitar',
       'TyranitarMega Tyranitar', 'Lugia', 'Ho-oh', 'Celebi', 'Treecko',
       'Grovyle', 'Sceptile', 'SceptileMega Sceptile', 'Torchic',
       'Combusken', 'Blaziken', 'BlazikenMega Blaziken', 'Mudkip',
       'Marshtomp', 'Swampert', 'SwampertMega Swampert', 'Poochyena',
       'Mightyena', 'Zigzagoon', 'Linoone', 'Wurmple', 'Silcoon',
       'Beautifly', 'Cascoon', 'Dustox', 'Lotad', 'Lombre', 'Ludicolo',
       'Seedot', 'Nuzleaf', 'Shiftry', 'Taillow', 'Swellow', 'Wingull',
       'Pelipper', 'Ralts', 'Kirlia', 'Gardevoir',
       'GardevoirMega Gardevoir', 'Surskit', 'Masquerain', 'Shroomish',
       'Breloom', 'Slakoth', 'Vigoroth', 'Slaking', 'Nincada', 'Ninjask',
       'Shedinja', 'Whismur', 'Loudred', 'Exploud', 'Makuhita',
       'Hariyama', 'Azurill', 'Nosepass', 'Skitty', 'Delcatty', 'Sableye',
       'SableyeMega Sableye', 'Mawile', 'MawileMega Mawile', 'Aron',
       'Lairon', 'Aggron', 'AggronMega Aggron', 'Meditite', 'Medicham',
       'MedichamMega Medicham', 'Electrike', 'Manectric',
       'ManectricMega Manectric', 'Plusle', 'Minun', 'Volbeat',
       'Illumise', 'Roselia', 'Gulpin', 'Swalot', 'Carvanha', 'Sharpedo',
       'SharpedoMega Sharpedo', 'Wailmer', 'Wailord', 'Numel', 'Camerupt',
       'CameruptMega Camerupt', 'Torkoal', 'Spoink', 'Grumpig', 'Spinda',
       'Trapinch', 'Vibrava', 'Flygon', 'Cacnea', 'Cacturne', 'Swablu',
       'Altaria', 'AltariaMega Altaria', 'Zangoose', 'Seviper',
       'Lunatone', 'Solrock', 'Barboach', 'Whiscash', 'Corphish',
       'Crawdaunt', 'Baltoy', 'Claydol', 'Lileep', 'Cradily', 'Anorith',
       'Armaldo', 'Feebas', 'Milotic', 'Castform', 'Kecleon', 'Shuppet',
       'Banette', 'BanetteMega Banette', 'Duskull', 'Dusclops', 'Tropius',
       'Chimecho', 'Absol', 'AbsolMega Absol', 'Wynaut', 'Snorunt',
       'Glalie', 'GlalieMega Glalie', 'Spheal', 'Sealeo', 'Walrein',
       'Clamperl', 'Huntail', 'Gorebyss', 'Relicanth', 'Luvdisc', 'Bagon',
       'Shelgon', 'Salamence', 'SalamenceMega Salamence', 'Beldum',
       'Metang', 'Metagross', 'MetagrossMega Metagross', 'Regirock',
       'Regice', 'Registeel', 'Latias', 'LatiasMega Latias', 'Latios',
       'LatiosMega Latios', 'Kyogre', 'KyogrePrimal Kyogre', 'Groudon',
       'GroudonPrimal Groudon', 'Rayquaza', 'RayquazaMega Rayquaza',
       'Jirachi', 'DeoxysNormal Forme', 'DeoxysAttack Forme',
       'DeoxysDefense Forme', 'DeoxysSpeed Forme', 'Turtwig', 'Grotle',
       'Torterra', 'Chimchar', 'Monferno', 'Infernape', 'Piplup',
       'Prinplup', 'Empoleon', 'Starly', 'Staravia', 'Staraptor',
       'Bidoof', 'Bibarel', 'Kricketot', 'Kricketune', 'Shinx', 'Luxio',
       'Luxray', 'Budew', 'Roserade', 'Cranidos', 'Rampardos', 'Shieldon',
       'Bastiodon', 'Burmy', 'WormadamPlant Cloak', 'WormadamSandy Cloak',
       'WormadamTrash Cloak', 'Mothim', 'Combee', 'Vespiquen',
       'Pachirisu', 'Buizel', 'Floatzel', 'Cherubi', 'Cherrim', 'Shellos',
       'Gastrodon', 'Ambipom', 'Drifloon', 'Drifblim', 'Buneary',
       'Lopunny', 'LopunnyMega Lopunny', 'Mismagius', 'Honchkrow',
       'Glameow', 'Purugly', 'Chingling', 'Stunky', 'Skuntank', 'Bronzor',
       'Bronzong', 'Bonsly', 'Mime Jr.', 'Happiny', 'Chatot', 'Spiritomb',
       'Gible', 'Gabite', 'Garchomp', 'GarchompMega Garchomp', 'Munchlax',
       'Riolu', 'Lucario', 'LucarioMega Lucario', 'Hippopotas',
       'Hippowdon', 'Skorupi', 'Drapion', 'Croagunk', 'Toxicroak',
       'Carnivine', 'Finneon', 'Lumineon', 'Mantyke', 'Snover',
       'Abomasnow', 'AbomasnowMega Abomasnow', 'Weavile', 'Magnezone',
       'Lickilicky', 'Rhyperior', 'Tangrowth', 'Electivire', 'Magmortar',
       'Togekiss', 'Yanmega', 'Leafeon', 'Glaceon', 'Gliscor',
       'Mamoswine', 'Porygon-Z', 'Gallade', 'GalladeMega Gallade',
       'Probopass', 'Dusknoir', 'Froslass', 'Rotom', 'RotomHeat Rotom',
       'RotomWash Rotom', 'RotomFrost Rotom', 'RotomFan Rotom',
       'RotomMow Rotom', 'Uxie', 'Mesprit', 'Azelf', 'Dialga', 'Palkia',
       'Heatran', 'Regigigas', 'GiratinaAltered Forme',
       'GiratinaOrigin Forme', 'Cresselia', 'Phione', 'Manaphy',
       'Darkrai', 'ShayminLand Forme', 'ShayminSky Forme', 'Arceus',
       'Victini', 'Snivy', 'Servine', 'Serperior', 'Tepig', 'Pignite',
       'Emboar', 'Oshawott', 'Dewott', 'Samurott', 'Patrat', 'Watchog',
       'Lillipup', 'Herdier', 'Stoutland', 'Purrloin', 'Liepard',
       'Pansage', 'Simisage', 'Pansear', 'Simisear', 'Panpour',
       'Simipour', 'Munna', 'Musharna', 'Pidove', 'Tranquill', 'Unfezant',
       'Blitzle', 'Zebstrika', 'Roggenrola', 'Boldore', 'Gigalith',
       'Woobat', 'Swoobat', 'Drilbur', 'Excadrill', 'Audino',
       'AudinoMega Audino', 'Timburr', 'Gurdurr', 'Conkeldurr', 'Tympole',
       'Palpitoad', 'Seismitoad', 'Throh', 'Sawk', 'Sewaddle', 'Swadloon',
       'Leavanny', 'Venipede', 'Whirlipede', 'Scolipede', 'Cottonee',
       'Whimsicott', 'Petilil', 'Lilligant', 'Basculin', 'Sandile',
       'Krokorok', 'Krookodile', 'Darumaka', 'DarmanitanStandard Mode',
       'DarmanitanZen Mode', 'Maractus', 'Dwebble', 'Crustle', 'Scraggy',
       'Scrafty', 'Sigilyph', 'Yamask', 'Cofagrigus', 'Tirtouga',
       'Carracosta', 'Archen', 'Archeops', 'Trubbish', 'Garbodor',
       'Zorua', 'Zoroark', 'Minccino', 'Cinccino', 'Gothita', 'Gothorita',
       'Gothitelle', 'Solosis', 'Duosion', 'Reuniclus', 'Ducklett',
       'Swanna', 'Vanillite', 'Vanillish', 'Vanilluxe', 'Deerling',
       'Sawsbuck', 'Emolga', 'Karrablast', 'Escavalier', 'Foongus',
       'Amoonguss', 'Frillish', 'Jellicent', 'Alomomola', 'Joltik',
       'Galvantula', 'Ferroseed', 'Ferrothorn', 'Klink', 'Klang',
       'Klinklang', 'Tynamo', 'Eelektrik', 'Eelektross', 'Elgyem',
       'Beheeyem', 'Litwick', 'Lampent', 'Chandelure', 'Axew', 'Fraxure',
       'Haxorus', 'Cubchoo', 'Beartic', 'Cryogonal', 'Shelmet',
       'Accelgor', 'Stunfisk', 'Mienfoo', 'Mienshao', 'Druddigon',
       'Golett', 'Golurk', 'Pawniard', 'Bisharp', 'Bouffalant', 'Rufflet',
       'Braviary', 'Vullaby', 'Mandibuzz', 'Heatmor', 'Durant', 'Deino',
       'Zweilous', 'Hydreigon', 'Larvesta', 'Volcarona', 'Cobalion',
       'Terrakion', 'Virizion', 'TornadusIncarnate Forme',
       'TornadusTherian Forme', 'ThundurusIncarnate Forme',
       'ThundurusTherian Forme', 'Reshiram', 'Zekrom',
       'LandorusIncarnate Forme', 'LandorusTherian Forme', 'Kyurem',
       'KyuremBlack Kyurem', 'KyuremWhite Kyurem', 'KeldeoOrdinary Forme',
       'KeldeoResolute Forme', 'MeloettaAria Forme',
       'MeloettaPirouette Forme', 'Genesect', 'Chespin', 'Quilladin',
       'Chesnaught', 'Fennekin', 'Braixen', 'Delphox', 'Froakie',
       'Frogadier', 'Greninja', 'Bunnelby', 'Diggersby', 'Fletchling',
       'Fletchinder', 'Talonflame', 'Scatterbug', 'Spewpa', 'Vivillon',
       'Litleo', 'Pyroar', 'Flabébé', 'Floette', 'Florges', 'Skiddo',
       'Gogoat', 'Pancham', 'Pangoro', 'Furfrou', 'Espurr',
       'MeowsticMale', 'MeowsticFemale', 'Honedge', 'Doublade',
       'AegislashBlade Forme', 'AegislashShield Forme', 'Spritzee',
       'Aromatisse', 'Swirlix', 'Slurpuff', 'Inkay', 'Malamar', 'Binacle',
       'Barbaracle', 'Skrelp', 'Dragalge', 'Clauncher', 'Clawitzer',
       'Helioptile', 'Heliolisk', 'Tyrunt', 'Tyrantrum', 'Amaura',
       'Aurorus', 'Sylveon', 'Hawlucha', 'Dedenne', 'Carbink', 'Goomy',
       'Sliggoo', 'Goodra', 'Klefki', 'Phantump', 'Trevenant',
       'PumpkabooAverage Size', 'PumpkabooSmall Size',
       'PumpkabooLarge Size', 'PumpkabooSuper Size',
       'GourgeistAverage Size', 'GourgeistSmall Size',
       'GourgeistLarge Size', 'GourgeistSuper Size', 'Bergmite',
       'Avalugg', 'Noibat', 'Noivern', 'Xerneas', 'Yveltal',
       'Zygarde50% Forme', 'Diancie', 'DiancieMega Diancie',
       'HoopaHoopa Confined', 'HoopaHoopa Unbound', 'Volcanion'],
      dtype=object)

    4. ¿Cuántos pokemon tiene una defensa superior a 100?

123 pokemones tienen una defensa superior a 100

In [47]:
High_defense= df[df["Defense"]>100]

In [50]:
High_defense.count()

Name          123
Type 1        123
Type 2         87
Total         123
HP            123
Attack        123
Defense       123
Sp. Atk       123
Sp. Def       123
Speed         123
Generation    123
Legendary     123
dtype: int64

    4.1 ¿Cuántos pokemon tiene una defensa inferior a 100?

644 tienen una defensa inferior a 100

In [52]:
low_defense= df[df["Defense"]<100]

In [53]:
low_defense.count()

Name          644
Type 1        644
Type 2        306
Total         644
HP            644
Attack        644
Defense       644
Sp. Atk       644
Sp. Def       644
Speed         644
Generation    644
Legendary     644
dtype: int64

    5. ¿Cuántos pokemon tiene una defensa superior a 100 y una velocidad superior a 100?

123 pokemones tiene una defensa superior a 100 y una velocidad superior a 100

In [65]:
High_defense_speed= df.loc[(df.Defense > 100) & (df.Speed > 100),["Defense","Speed"]]

In [67]:
High_defense_speed.count()

Defense    123
Speed      123
dtype: int64

    6. Ordena el dataset por el tipo 1 y por el tipo 2

In [79]:
df.sort_values(by =["Type 1", "Type 2"])

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
595,Joltik,Bug,Electric,319,50,47,50,57,50,180,5,False
596,Galvantula,Bug,Electric,472,70,77,60,97,60,180,5,False
214,Heracross,Bug,Fighting,500,80,125,75,40,95,180,2,False
214,HeracrossMega Heracross,Bug,Fighting,600,80,185,115,40,105,180,2,False
636,Larvesta,Bug,Fire,360,55,85,55,50,55,180,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
594,Alomomola,Water,NaN,470,165,75,80,40,45,180,5,False
656,Froakie,Water,NaN,314,41,56,40,62,44,180,6,False
657,Frogadier,Water,NaN,405,54,63,52,83,56,180,6,False
692,Clauncher,Water,NaN,330,50,53,62,58,63,180,6,False
693,Clawitzer,Water,NaN,500,71,73,88,120,89,180,6,False

    7. Crea un nuevo dataset con los pokémon de tipo Water y Fire como primer tipo

In [84]:
Water_Fire= df[(df["Type 1"]== "Water") | (df["Type 1"]== "Fire")]

In [87]:
Water_Fire

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
4,Charmander,Fire,NaN,309,39,52,43,60,50,180,1,False
5,Charmeleon,Fire,NaN,405,58,64,58,80,65,180,1,False
6,Charizard,Fire,Flying,534,78,84,78,109,85,180,1,False
6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,180,1,False
6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,180,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
667,Litleo,Fire,Normal,369,62,50,58,73,54,180,6,False
668,Pyroar,Fire,Normal,507,86,68,72,109,66,180,6,False
692,Clauncher,Water,NaN,330,50,53,62,58,63,180,6,False
693,Clawitzer,Water,NaN,500,71,73,88,120,89,180,6,False
721,Volcanion,Fire,Water,600,80,110,120,130,90,180,6,True

    8. Crea un nuevo dataset con los pokemon Legendary

In [88]:
Legendary= df[(df["Legendary"]== True)]

In [89]:
Legendary

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
144,Articuno,Ice,Flying,580,90,85,100,95,125,180,1,True
145,Zapdos,Electric,Flying,580,90,90,85,125,90,180,1,True
146,Moltres,Fire,Flying,580,90,100,90,125,85,180,1,True
150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,180,1,True
150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,180,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,180,6,True
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,180,6,True
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,180,6,True
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,180,6,True
721,Volcanion,Fire,Water,600,80,110,120,130,90,180,6,True

    9. Calcula el promedio de stats de los pokemon Legendary (HP, Attack, Defense, Sp. Atk, Sp. Def, Speed) y los no Legendary

In [94]:
Legendary.describe()

,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,65.000000,65.000000,65.000000,65.000000,65.000000,65.000000,65.0,65.000000
mean,637.384615,92.738462,116.676923,99.661538,122.184615,105.938462,180.0,3.769231
std,60.937389,21.722164,30.348037,28.255131,31.104608,28.827004,0.0,1.455262
min,580.000000,50.000000,50.000000,20.000000,50.000000,20.000000,180.0,1.000000
25%,580.000000,80.000000,100.000000,90.000000,100.000000,90.000000,180.0,3.000000
50%,600.000000,91.000000,110.000000,100.000000,120.000000,100.000000,180.0,4.000000
75%,680.000000,105.000000,131.000000,115.000000,150.000000,120.000000,180.0,5.000000
max,780.000000,150.000000,190.000000,200.000000,194.000000,200.000000,180.0,6.000000

In [152]:
Promedio_Legendary = Legendary.describe().loc['mean'][['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']]
Promedio_Legendary

HP          92.738462
Attack     116.676923
Defense     99.661538
Sp. Atk    122.184615
Sp. Def    105.938462
Speed      180.000000
Name: mean, dtype: float64

In [95]:
No_legendary= df[(df["Legendary"]== False)]

In [154]:
Promedio_No_legendary = No_legendary.describe().loc['mean'][['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']]
Promedio_No_legendary

HP          67.182313
Attack      75.669388
Defense     71.559184
Sp. Atk     68.454422
Sp. Def     68.892517
Speed      180.000000
Name: mean, dtype: float64

    10. Crea un nuevo dataframe con el resultado del anterior ejercicio comparando ambos promedios

In [155]:
New_dataframe= pd.DataFrame([Promedio_No_legendary, Promedio_Legendary], index=['No Legendary', 'Legendary'])
New_dataframe

                     HP      Attack    Defense     Sp. Atk     Sp. Def  Speed
No Legendary  67.182313   75.669388  71.559184   68.454422   68.892517  180.0
Legendary     92.738462  116.676923  99.661538  122.184615  105.938462  180.0

    11. Añade una nueva colunma ['Doble tipo'] al dataframe inicial que indique si el pokemon tiene dos tipos o no

In [157]:
df['Doble tipo'] = (df['Type 1'].notna()) & (df['Type 2'].notna())
df.head(5)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Doble tipo
#,,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,180,1,False,True
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,180,1,False,True
3,Venusaur,Grass,Poison,525,80,82,83,100,100,180,1,False,True
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,180,1,False,True
4,Charmander,Fire,NaN,309,39,52,43,60,50,180,1,False,False

    12. Muestra las columas Name, Type 1, Type 2 de los pokémon que tienen dos tipos y ordenalos por Type 1 , Type 2 y Name

In [159]:
Doble_tipo = df['Doble tipo'] == True
df[Doble_tipo].sort_values(['Type 1', 'Type 2', 'Name'])[['Type 1', 'Type 2','Name']]

    Type 1    Type 2                     Name
#
596    Bug  Electric               Galvantula
595    Bug  Electric                   Joltik
214    Bug  Fighting                Heracross
214    Bug  Fighting  HeracrossMega Heracross
636    Bug      Fire                 Larvesta
..     ...       ...                      ...
565  Water      Rock               Carracosta
222  Water      Rock                  Corsola
369  Water      Rock                Relicanth
564  Water      Rock                 Tirtouga
395  Water     Steel                 Empoleon

[414 rows x 3 columns]

In [151]:
from functools import reduce

'''
13. Dada una lista de Artículos con sus precio. Define las siguientes funciones:
Puedes definir más funciones si lo consideras necesario.
'''
articulos = {
    'Camisa': 20,
    'Pantalón': 30,
    'Calcetines': 5,
    'Zapatos': 50,
    'Gorra': 10,
    'Bufanda': 15,
    'Gafas': 25,
    'Reloj': 35,
    'Corbata': 40,
}

compra = ['Camisa', 'Pantalón', 'Pantalón', 'Gorra', 'Gafas', 'Corbata']

    Una función que calcule el precio total de la compra

In [160]:
def total_compra(articulos, compra):
    precios = list(map(lambda item: articulos.get(item), compra))
    return reduce(lambda prev, actual: prev + actual, precios)

    Una función que calcule el precio total de la compra con un descuento del 10

In [161]:
def descuento(articulos, compra):
    total = total_compra(articulos, compra)
    descuento = total * 0.1
    return total - descuento

    Una función que calcule el precio total de la compra con un descuento del 10% si la compra supera los 100€

In [164]:
def descuento_100(articulos, compra):
    if total_compra(articulos, compra) > 100:
        return descuento(articulos, compra)
    else:
        return total_compra(articulos, compra)

    Una función que calcule el precio total aplicando el IVA (21%)

In [163]:
def IVA(articulos, compra):
    total = total_compra(articulos, compra)
    impuesto = total * 0.21
    return total + impuesto

    lista los artículos cuyo precio es superior a 20€

In [162]:
def mayor_20(articulos):
    return list(filter(lambda articulo: articulos.get(articulo) > 20, articulos))

    14. Dada una lista de tuplas con el nombre de un alumno, apellidos, curso y sus notas. 

 Define una funcion que reciba el curso y saque una lista en la que aparezca e nombre y apellidos y el promedio de sus notas.
 Puedes definir más funciones si lo consideras necesario.

In [165]:


alumnos = [('Juan', 'Pérez', '1', [5, 6, 7, 8, 9]),
            ('Ana', 'García', '2', [5, 6, 7, 8, 9]),
            ('Luis', 'González', '1', [5, 6, 7, 8, 9]),
            ('María', 'Martínez', '2', [5, 6, 7, 8, 9]),
            ('Pedro', 'Rodríguez', '1', [5, 6, 7, 8, 9]),
            ('Lucía', 'Hernández', '2', [5, 6, 7, 8, 9]),
            ('Marta', 'López', '1', [5, 6, 7, 8, 9]),
            ('Sara', 'Díaz', '2', [5, 6, 7, 8, 9]),
            ('Javier', 'Sánchez', '1', [5, 6, 7, 8, 9]),
            ('Miguel', 'Fernández', '2', [5, 6, 7, 8, 9]),
            ('Sergio', 'Jiménez', '1', [5, 6, 7, 8, 9]),
            ('Sandra', 'Ruiz', '2', [5, 6, 7, 8, 9]),
            ('Pablo', 'Álvarez', '1', [5, 6, 7, 8, 9]),
            ('María', 'Gómez', '2', [5, 6, 7, 8, 9]),
]

In [184]:
def notas_por_curso(curso, alumnos):
    lista_curso = []
    for i in range(len(alumnos)):
        if alumnos[i][2] == curso:
            nombre_y_apellido = (alumnos[i][0]+" "+alumnos[i][1])
            promedio = (sum(alumnos[i][3])/len(alumnos[i][3]))
            lista_curso.append((nombre_y_apellido, "Promedio: ", promedio))
    return lista_curso

In [185]:
notas_por_curso("1", alumnos)

[('Juan Pérez', 'Promedio: ', 7.0),
 ('Luis González', 'Promedio: ', 7.0),
 ('Pedro Rodríguez', 'Promedio: ', 7.0),
 ('Marta López', 'Promedio: ', 7.0),
 ('Javier Sánchez', 'Promedio: ', 7.0),
 ('Sergio Jiménez', 'Promedio: ', 7.0),
 ('Pablo Álvarez', 'Promedio: ', 7.0)]

In [186]:
notas_por_curso("2", alumnos)

[('Ana García', 'Promedio: ', 7.0),
 ('María Martínez', 'Promedio: ', 7.0),
 ('Lucía Hernández', 'Promedio: ', 7.0),
 ('Sara Díaz', 'Promedio: ', 7.0),
 ('Miguel Fernández', 'Promedio: ', 7.0),
 ('Sandra Ruiz', 'Promedio: ', 7.0),
 ('María Gómez', 'Promedio: ', 7.0)]